.content {
  display: flex;
  align-items: center;
  justify-content: center;

  &-block {
    display: flex;
    flex-direction: column;

    margin-right: 116px;

    text-align: start;

    &__title {
      display: inline;

      font-family: "Rubik";
      font-size: 33px;
      font-style: normal;
      font-weight: 500;
      line-height: 80px;
      letter-spacing: 1.65px;
    }
    &__title::first-letter {
      color: #ff7a50;
    }
    &__info {
      display: flex;
      align-items: center;

      margin-bottom: 15px;
      svg {
        margin-right: 12px;
      }

      &__image {
      }
    }
  }
  .lists {
    display: flex;
    align-items: center;
    text-align: start;
    .list {
      display: flex;
      flex-direction: column;

      margin-right: 99px;

      &-title {
        font-family: "Rubik";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 49px; /* 272.222% */
        letter-spacing: 0.18px;
      }
      &-item {
        font-family: "Rubik";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 49px;
        letter-spacing: 0.18px;
      }
    }
  }
}
.line {
  width: 1472px;
  height: 1px;

  opacity: 0.20000000298023224;
  background: #969696;

  margin-bottom: 26px;
}
.privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1170px;
  margin: 0 auto;

  &-info {
    color: var(--medium-dark, #646464);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  &-list {
    display: flex;
    align-items: center;

    &__item {
      margin-right: 51px;

      color: var(--medium-dark, #646464);

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
    }
  }
}

@media screen and (max-width: 1132px) {
  footer {
    .content {
      &-block {
        &__title {
        }
        &__info {
        }
        &__image {
        }
      }
      .lists {
        max-width: 100%;
        .list {
          margin-right: 30px;
          &-title {
          }
          &-item {
          }
        }
      }
    }
    .privacy {
      max-width: 100%;
      &-info {
      }
      &-list {
        &__item {
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  footer {
    .content {
      &-block {
        margin-right: 50px;
        &__title {
        }
        &__info {
        }
        &__image {
        }
      }
      .lists {
        max-width: 100%;
        .list {
          margin-right: 30px;
          &-title {
          }
          &-item {
            letter-spacing: 0;
            line-height: 30px;
          }
        }
      }
    }
    .privacy {
      max-width: 100%;
      &-info {
      }
      &-list {
        &__item {
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .content {
      flex-direction: column;

      text-align: center;
      &-block {

        text-align: center;

        margin: 0;
        &__title {
        }
        &__info {
        }
        &__image {
        }
      }
      .lists {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        max-width: 100%;
        .list {
          margin-right: 30px;
          &-title {
          }
          &-item {
            display: none;

            letter-spacing: 0;
            line-height: 30px;
          }
        }
      }
    }

    .line {
      overflow: hidden;
    }

    .privacy {
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;

      max-width: 100%;
      &-info {
        margin-bottom: 20px;
      }
      &-list {
        margin-bottom: 20px;

        &__item {
          margin: 10px;
        }
      }
    }
  }
}
