.content {
  display: flex;
  align-items: center;
  justify-content: center;

  &-block {
    display: flex;
    flex-direction: column;

    margin-right: 116px;

    text-align: start;

    &__title {
      display: inline;

      font-family: "Rubik";
      font-size: 33px;
      font-style: normal;
      font-weight: 500;
      line-height: 80px;
      letter-spacing: 1.65px;
    }
    &__title::first-letter {
      color: #ff7a50;
    }
    &__info {
      display: flex;
      align-items: center;

      margin-bottom: 15px;
      svg {
        margin-right: 12px;
      }

      &__image {
      }
    }
  }
  .lists {
    display: flex;
    align-items: center;
    text-align: start;
    .list {
      display: flex;
      flex-direction: column;

      margin-right: 99px;

      &-title {
        font-family: "Rubik";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 49px; /* 272.222% */
        letter-spacing: 0.18px;
      }
      &-item {
        font-family: "Rubik";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 49px;
        letter-spacing: 0.18px;
      }
    }
  }
}
.line {
  width: 1472px;
  height: 1px;

  opacity: 0.20000000298023224;
  background: #969696;

  margin-bottom: 26px;
}
.privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1140px;

  &-info {
    color: var(--medium-dark, #646464);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  &-list {
    display: flex;
    align-items: center;

    &__item {
      margin-right: 51px;

      color: var(--medium-dark, #646464);

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
    }
  }
}
