.mobile {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 165px;

  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 178px;

    margin-right: 20px;

    &__title {
      font-family: "Rubik";
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 50px; /* 138.889% */
      text-transform: capitalize;

      margin-bottom: 30px;

      width: 454px;

      text-align: start;
    }
    &__subtitle {
      color: #363853;

      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;

      width: 538px;
      height: 94px;

      margin-bottom: 30px;

      text-align: start;
    }
    &__img {
      img {
        margin-right: 35px;
      }
    }
  }
  &-img {
    max-width: 100%;
    img {
      width: 616.743px;
      height: 480.593px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .mobile {
    display: flex;
    flex-direction: column;

    max-width: 100%;

    &-text {
      max-width: 100%;

      align-items: center;

      margin-bottom: 100px;
      margin-right: 0;

      height: auto;
    }

    &-img {
      max-width: 100%;
      img {
        width: 500px;
        height: 400px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .mobile {
    margin-bottom: 0;

    &-text {
      max-width: 100%;

      margin-bottom: 50px;

      &__title {
        max-width: 100%;

        text-align: center;
      }

      &__subtitle {
        max-width: 100%;

        text-align: center;

        margin-bottom: 80px;
      }

      &__img {
        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 100%;

        margin-top: 20px;
      }
    }
    &-img {
      display: none;
    }
  }
}
