.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-title {
    font-family: "Rubik";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;

    margin-bottom: 67px;
  }
  &-info {
    display: flex;
    justify-content: center;

    &__img {
      width: 433.38px;
      height: 519.59px;

      margin-right: 68px;
      margin-bottom: 125px;

      img {
        max-width: 100%;
      }
    }
    .text {
      &-rating {
        margin-top: 70px;
        text-align: start;

        font-family: "Rubik";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px; /* 225% */
        letter-spacing: 0.5px;

        width: 573px;

        margin-bottom: 73px;
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-person {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      color: #ff7a50;

      margin-bottom: 18px;

      &__name {
      }

      &__position {
        color: #aaa;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        margin-top: 18px;

        text-align: start;
      }
    }
    &-slider {
      display: flex;
      &__left {
        cursor: pointer;

        margin-right: 44px;
      }
      &__right {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .reviews {
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__img {
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .reviews {
    &-title {
      margin: 0;
    }
    &-info {
      margin-bottom: 50px;

      align-items: center;

      &__img {
        width: 300px;
        height: 300px;
      }
    }
    .text {
      &-rating {
        max-width: 100%;
        width: auto;

        text-align: center;
      }
      .info {
        padding: 0px 50px;
      }
    }
  }
}
